/* @font-face { 
    font-family: 'FigtreeItalic';
    src: url(font/Figtree/static/Figtree-Italic.ttf) 
    format('truetype');
    font-weight: normal;
    font-style: italic;
/* } */

/* @font-face { 
    font-family:'BoldItalic' ;
    src: url('font/Figtree/static/Figtree-BoldItalic.ttf')
    format('truetype');
/* } */

/* @font-face { 
    font-family: 'Variable';
    src: url('font\Figtree\Figtree-VariableFont_wght.ttf')
    format('truetype');
/* } */

body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Montserrat', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin: 0;
    /* width: 50%; */
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    height: 450px;
    width: 340px;
    max-width: 100%;
    border-radius: 15px;
    padding: px;
}


.text{
    margin:25px;
}

#img{
    border-radius: 10px;
    /* width: 80%; */
    width: 250px;
    height: 200px;
    margin-top: 45px;
    padding: 10px
    
}

.icon{
    width: 35%;
    height: 40%;
    position: relative;
    right: 95px;
    /* display: flex;
    justify-content: center;
    al */
}

.name-tag{
    /* display: inline-block; */

}

.text{
    text-align: left;
}

.dp{
    text-align: right;
}

.learning{
    
    display: flex;
    text-align: center;
   
    font-weight: 800;
    font-size: 10px;
}

.box{
    background-color:hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 25px;
    border-radius: 5px;
}

.published{
    font-size: 11px;
    color: hsl(0, 0%, 7%)
}

.foundations{
    font-weight: 800;
    font-size: 17px;
}

.description{
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    font-weight: 500;
}